<mat-list class="side-menu-wrapper">
    <div mat-subheader>Scripts</div>
    <mat-list-item *ngFor="let script of scriptsList" (click)="selectScript(script.id)" class="script-item">
        <mat-icon *ngIf="script.state !== 'ongoing'" mat-list-icon class="script-state-icon" [ngClass]="script.state">stop_circle</mat-icon>
        <mat-progress-spinner *ngIf="script.state === 'ongoing'" mode="indeterminate" [diameter]="20"></mat-progress-spinner>
        <div mat-line>{{script.title}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>