@import '../../../styles.scss';

.side-menu-wrapper :hover{
    cursor: pointer;
}

.script-item{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .script-state-icon.idle {
        color: $color-primary;
    }

    .script-state-icon.success {
        color: green;
    }

    .script-state-icon.error {
        color: red;
    }
}