<template>
  <v-card v-if="selectedScript" class="main-screen-card">
    <div class="v-card-header">
      <div class="title-and-desc-wrapper">
        <span>{{selectedScript.title}}</span>
        <p>
          {{selectedScript.description}}
        </p>
      </div>
      <v-btn small color="primary" v-on:click="executeScript()">Execute</v-btn>
      <v-progress-circular
      indeterminate
      color="primary"
      v-if="loading"
      ></v-progress-circular>
      <div v-if="!loading" class="script-result">
        <span class="success">{{scriptResult}}</span>
        <span class="error">{{scriptError}}</span>
      </div>
    </div>
    <v-card class="console-card">
      <div v-for="(msg, index) in messageList" :key="index">
        {{ msg }}
      </div>
    </v-card>
    
  </v-card>
</template>

<script>
import axios from 'axios';
import io from 'socket.io-client';

export default {
  name: 'MainScreen',
  props: {
    selectedScript : null
  },

  data() {
    return {
      loading: false,
      scriptResult: '',
      scriptError: '',
      messageList: [],
      socket : io('localhost:3000')
    }
  },

  methods: {
    executeScript() {
      this.loading = true;
      this.$emit('script-ended', {id: this.selectedScript.id, state: 'ongoing'});
      axios
      .get('http://localhost:3000/'+this.selectedScript.id)
      .then(response => {
        const parsedReponse = JSON.parse(response.data);
        this.scriptResult = parsedReponse.responseMessage;
        this.loading = false;
        this.$emit('script-ended', {id: this.selectedScript.id, state: 'success'});
      })
      .catch(error => {
        this.scriptError = error;
        this.loading = false;
        this.$emit('script-ended', {id: this.selectedScript.id, state: 'error'});
      });
    }
  },

  mounted() {
    this.socket.on('new-message', (data) => {
      this.messageList.push(data);
    }); 
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.main-screen-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.v-card-header {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 40px !important;
  height: 100px;
  align-items: center;
  border: lightgrey solid 1px;
}

.v-card-header .title-and-desc-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.console-card {
  background-color: black !important;
  color: white !important;
}

.script-result .success {
  background-color: white !important;
  color: green !important;
}

.script-result .error {
  background-color: white !important;
  color: red !important;
}

</style>
