<template>
  <v-list>
    <v-subheader>Scripts</v-subheader>
    <v-list-item-group>
      <v-list-item v-for="script in scriptsList" :key="script.id" v-on:click="selectScript(script.id)">
        <v-list-item-icon v-if="script.state !== 'ongoing'">
          <v-icon class="script-state-icon" v-bind:class="script.state">fiber_manual_record</v-icon>
        </v-list-item-icon>
        <v-progress-circular
        indeterminate
        color="primary"
        v-if="script.state === 'ongoing'"
        ></v-progress-circular>
        <v-list-item-content>
          <v-list-item-title>{{ script.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default { 
  props: {
    scriptsList: {}
  },

  methods: {
    selectScript: function (scriptId) {
      this.$emit('select-script', scriptId)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .script-state-icon.idle {
    background-color: transparent !important;
    color: blue !important;
  }

  .script-state-icon.success {
    background-color: transparent !important;
    color: green !important;
  }

  .script-state-icon.error {
    background-color: transparent !important;
    color: red !important;
  }
</style>
