<template>
  <v-app>
    <v-navigation-drawer app absolute>
      <SideMenu :scriptsList="scriptsList" @select-script="selectScript"/>
    </v-navigation-drawer>
    <Header/>
    <v-content class="mt-5">
      <MainScreen @script-ended="scriptEnded" :selectedScript="selectedScript"/>
    </v-content>
  </v-app>
</template>

<script>
import Header from './components/Header';
import SideMenu from './components/SideMenu';
import MainScreen from './components/MainScreen';

export default {
  name: 'App',

  components: {
    Header,
    SideMenu,
    MainScreen,
  },

  data() {
    return {
      selectedScript: null,
      scriptsList: [
        {
          id: 'create-files',
          title: 'Create Files',
          description: 'This script will create 100 copies of the app/scripts/test.txt file and place them into app/scripts/new_files folder',
          state: 'idle'
        }
      ]
    }
  },

  methods : {
    selectScript(scriptId) {
      this.scriptsList.forEach((script) => {
        if (script.id === scriptId) {
          this.selectedScript = script;
        }
      });
    },

    scriptEnded(event) {
      this.scriptsList.forEach((script, index, object) => {
        if (script.id === event.id) {
          object[index].state = event.state;
        }
      });
    }
  }
};
</script>

<style src='vuetify/dist/vuetify.min.css'>
    /* global styles */
</style>
