<app-header (sideMenuOpened)="onMenuClick()"></app-header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-side-menu (scriptSelected)="onScriptSelected($event)" [scriptsList]="scriptsList"></app-side-menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <router-outlet></router-outlet> -->
    <app-main-screen [script]="scriptSelected" (executingScript)="onExecutingScript($event)" class="main-screen"></app-main-screen>
  </div>

</mat-drawer-container>


