.example-container {
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;

    .main-screen{
      width: 100%;
    }
  }
  
  .example-sidenav {
    padding: 20px;
  }