<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="openSideMenu()">
            <mat-icon>menu</mat-icon>
        </button>        
        <span>Shell Launcher</span>
    </mat-toolbar-row>
</mat-toolbar>