.main-screen-card {
    width: 100%;
    height: 100%;

    .mat-card-header {
        width: 80%;
        justify-content: space-around;
        margin-bottom: 40px;
        margin-top: 40px !important;
        height: 100px;
        align-items: center;
        border: lightgrey solid 1px;

        .title-and-desc-wrapper{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }

    .console-card {
        background-color: black;
        color: white;
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }
}