<mat-card *ngIf="script" class="main-screen-card">
    <mat-card-header>
        <div class="title-and-desc-wrapper">
            <span>{{script.title}}</span>
            <p>
                {{script.description}}
            </p>
        </div>
        <button *ngIf="script" mat-raised-button color="primary" (click)="executeScript()">Execute</button>
        <div *ngIf="loading ; else loaded">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>
    </mat-card-header>
    <mat-card-content>
        <mat-card class="console-card">
            <div *ngFor="let message of messageList">
                {{ message }}
            </div>
        </mat-card>
        <ng-template #loaded>
            <span class="success">{{scriptResult}}</span>
            <span class="error">{{scriptError}}</span>
        </ng-template>
    </mat-card-content>
</mat-card>